.time {
  position: absolute;
  top: 4px;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}

.top {
  position: absolute;
  top: 36px;
}

.bottom {
  position: absolute;
  bottom: 6px;
}

@media (shape: rect) {
  .title {
    position: absolute;
    top: 35px;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }

  .time {
    top: 7px;
  }

  .leftButton {
    left: 6px;
  }

  .rightButton {
    right: 6px;
  }

  .bottom {
    bottom: 6px;
  }

  .top {
    top: 6px;
  }
}

/* 看看是不是红米手表 */
@media (device-type: watch) and (shape: rect) {
  .time {
    top: 20px;
  }
  
  .title {
    top: 48px;
  }

  .leftButton {
    left: 20px;
  }

  .rightButton {
    right: 20px;
  }

  .top {
    top: 20px;
  }

  .bottom {
    bottom: 20px;
  }
}

/* 看看是不是小米手表 */
@media (device-type: watch) and (shape: circle) {
  .leftButton {
    left: 60%;
  }

  .rightButton {
    right: 60%;
  }

  .top {
    position: absolute;
    top: 36px;
  }

  .bottom {
    position: absolute;
    bottom: 6px;
  }
}
